<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://fonts.googleapis.com/css?family=Dosis:100,300,400,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,300,400,400i,600,700,800" rel="stylesheet">
</head>
<body>
    
    <div class="loader">
        <div class="loader-inner">
            <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="spinner" cx="50" cy="50" r="21" fill="#13181d" stroke-width="2" />
            </svg>
        </div>    
    </div>
    
    <div class="wrapper">
        <div class="block-search-form">
            <div class="block-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form method="get">
                                <div class="card  bg-red ">
                                    <div class="card-body  row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="icon-search"></i>
                                        </div>
                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-border0" placeholder="Type a keywords..." type="search">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn  btn-primary uppercase border-3">
                                                Search now
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="header default">
            <div class=" left-part">
                <a class="logo scroll" href="#wrapper">
                    <h2 class="mb-0 uppercase" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">fnmusic</h2>
                </a>
            </div>
            <div class="left-part">
                <nav class="main-nav">
                    <div class="toggle-mobile-but">
                        <a href="#" class="mobile-but">
                            <div class="lines"></div>
                        </a>
                    </div>
                    <ul class="main-menu list-inline text-lowercase">
                        <li><a class="scroll list-inline-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="scroll list-inline-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;" asp-controller="Home" asp-action="About">about</a></li>
                        <li><a class="scroll list-inline-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;" href="#latest">latest</a></li>
                        <li><a class="scroll list-inline-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;" href="#gallery">Gallery</a></li>
                        <li><a class="scroll list-inline-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;" href="#news">News</a></li>
                        <li><a class="scroll list-inline-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>

                </nav>
            </div>
            <div class="right-part">
                <nav class="main-nav">
                    <div class="toggle-mobile-but">
                        <a href="#" class="mobile-but">
                            <div class="lines"></div>
                        </a>
                    </div>

                    <ul class="main-menu list-inline">
                        <li><a class="scroll list-inline-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;" asp-controller="Auth" asp-action="Register">Register</a></li>
                        <li><a class="scroll list-inline-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px;" asp-controller="Auth" asp-action="Login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - FNEntertainment Inc.</p>
            </footer>
        </div>

        <footer class="pt-5 pb-5 footer">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6">
                        <small class="small"><span>&copy; @DateTime.Now.Year All rights reserved.</span> FNEntertainment Inc.</small>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <ul class="list-inline small">
                            <li class="list-inline-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Terms of Use</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">About</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Legal</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <a class="block-top scroll" href="#wrapper">
            <i class="icon-angle-up"></i>
        </a>
    </div>
    
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/jquery.flexslider-min.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/audio.min.js"></script>
    <script src="~/js/twitterFetcher_min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/placeholders.min.js"></script>
    <script src="~/js/script.js"></script>
    
</body>
</html>




@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Web_App</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Web_App</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - Web_App</p>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
    </html>*@
