@model UserMgt.Models.ForgotPassword
@using Microsoft.AspNetCore.Http;
@using UserMgt.Models;

@inject IHttpContextAccessor httpContextAccessor
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Forgot Password";
    AuthKey authKey = Model.AuthKey;
    var session = httpContextAccessor.HttpContext.Session;
    bool prp = Convert.ToBoolean(session.GetString("PRP"));
    bool prpv = Convert.ToBoolean(session.GetString("PPRV"));
    bool sent = Convert.ToBoolean(session.GetString("Sent"));

}

<section class="m-t-lg">
    <div class="container aside-xl bg-white" style="border-style:solid; border-width:1px; border-radius:5px;">
        <header class="wrapper text-center">
            <h3>Forgot Password</h3>
        </header>
        <section class="form-horizontal" style="padding:0px 30px 30px 30px;">
            <h5 class="text-center">Fill in all necessary information</h5>
            <hr />
            @if (!sent)
            {
                @using (Html.BeginForm("Auth", "ForgotPassword", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (Model.AuthKey == AuthKey.Email)
                    {
                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control text-center input-sm", placeholder = "Email" })
                            <a class="pull-right" href="/forgotpassword?fpa=1"><small class="text-sm">use phone instead?</small></a>
                        </div>
                    }
                    else if (Model.AuthKey == AuthKey.Phone)
                    {
                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Phone)
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control text-center input-sm", placeholder = "Phone" })
                            <a class="pull-right" href="/forgotpassword?fpa=0"><small class="text-sm">use email instead?</small></a>
                        </div>
                    }

                    @if (prp)
                    {

                        if (!prpv)
                        {
                            <h5 class="text-center">A verification code was sent to your mobile number, kindly input the code in the box below</h5>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Token, new { @class = "form-control input-lg text-center", placeholder = "_ _ _ _ _ _" })
                            </div>
                        }
                        else
                        {

                            <h5 class="text-center">Your request has been verified successfully</h5>
                        }

                    }

                    @if (prp && !prpv)
                    {
                        <button type="submit" class="btn btn-success btn-block">
                            <span>verify</span>
                        </button>
                        <p class="text-center m-t-lg">
                            Didn't get the code?
                            <a class="btn btn-danger" onclick="sendPasswordResetLink()">
                                <span>resend</span>
                            </a>
                        </p>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success btn-block">
                            <span class="text-center h4">Send Link</span>
                        </button>
                    }

                }

                <script type="text/javascript">
                    function sendPasswordResetLink() {
                        const http = new XMLHttpRequest();
                        const url = '/sendforgotpasswordverificationtoken';
                        http.open("POST", url);
                        http.send();

                        http.onreadystatechange = (e) => {
                            if (http.readyState == 4) {
                                document.location.reload(true);
                                alert('Token was sent successfully');
                            }
                        }
                    }
                </script>
            }
            else
            {
                <div class="form-group">
                    <h4 class="text-center">Dear @Model.Email,</h4>
                    <h5 class="text-center">Your password reset link was sent to your email</h5>
                    <br />
                    <a href="/" class="btn btn-success center-block">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </div>
            }
        </section>
    </div>
</section>
