@model FNMusic.Models.Login
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Login";
}

<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xl bg-white" style="box-shadow:0px 10px 10px; border-radius:10px;">
        <header class="wrapper text-center">
            <strong>Sign in to get in touch</strong>
        </header>
        <section class="form-horizontal" style="padding:0px 30px 0px 30px;">
            <a href="#" class="btn btn-info btn-block ">
                <i class="fa fa-fw fa-twitter"></i>
                <span>Sign in with Twitter</span>
            </a>
            <a href="#" class="btn btn-primary btn-block ">
                <i class="fa fa-fw fa-facebook"></i>
                <span>Sign in with Facebook</span>
            </a>
            <h5 class="text-center">OR</h5>
            @using (Html.BeginForm("login?ReturnUrl=" + ViewData["ReturnUrl"] + "", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger}" })
                <hr />
                <div class="form-group">
                    @Html.ValidationMessageFor(x => x.UserId, "", new { @class = "text-danger small" })
                    @Html.TextBoxFor(x => x.UserId, new { placeholder = "Username or Email", @class = "form-control input text-center" })
                </div>
                <div class="form-group">
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger small" })
                    @Html.PasswordFor(x => x.Password, new { placeholder = "Password", @class = "form-control input text-center" })
                </div>
                <button type="submit" class="btn  btn-warning b-white btn-block">
                    <i class="icon-arrow-right pull-right"></i>
                    <span class="m-r-n-lg">Sign in</span>
                </button>
                <p class="text-center m-t m-b">
                    <small>
                        <a asp-controller="Auth" asp-action="ForgotPassword">Forgot your password?</a>
                    </small>
                </p>
                <div class="line line-dashed"></div>
                <p class="text-muted text-center">
                    <small>
                        Don't have an account?
                        <a asp-controller="Auth" asp-action="Register">Create an account</a>
                    </small>
                </p>
            }
        </section>
    </div>
</section>

