
@model UserMgt.Models.User
@using Microsoft.AspNetCore.Http
@using BaseLib.Models
@using UserMgt.Models
@inject IHttpContextAccessor httpContextAccessor
@{
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
    ViewData["Title"] = ""+Model.FirstName+" "+Model.LastName+" (@"+Model.Username+")";

    string[] months = new string[]
    {
        "January",
        "Febuary",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    };

    long profileUserId = Model.Id;
    long loggedInUserId = Convert.ToInt64(httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "Id").Value);

    

}

<section>
    <section class="vbox">
        <section class="scrollable">
            <section class="wrapper hidden-xs" style="height:300px; background-image:url(/images/electric_feeling-1280x800.jpg); background-size:cover">
                <a href="#" class="img-circle" style="position:absolute; top:200px; left:5px; border-style:solid; border-color:white;">
                    <img src="images/a4.png" class="img-circle" height="180" style="border-color:white;">
                </a>
            </section>
            <section class="wrapper hidden-mobile-xs" style="height:100px;  background-image:url(/images/electric_feeling-1280x800.jpg); background-size:cover">
                <a href="#" class="img-circle" style="position:absolute; top:100px; left:5px; border-style:solid; border-color:white;">
                    <img src="images/a4.png" class="img-circle" height="100" style="border-color:white;">
                </a>
            </section>
            <section class="hbox stretch" >
                <aside class="aside-lg bg-light lter b-r">
                    <section class="vbox">
                        <section class="scrollable">
                            <div class="wrapper">
                                <div style="padding-top:20px;">
                                    @await Html.PartialAsync("_IsFanLayout")
                                </div>
                                <div class="m-b m-t" style="padding-top:60px;">
                                    <div class="h3 text-black">@Model.FirstName @Model.LastName</div>
                                    <div class="h5">
                                        @@@Model.Username

                                        @if (loggedInUserId != Model.Id)
                                        {
                                            //Result<User> isFollowerResult = await userController.IsFollower(loggedInUserId, Model.Id);
                                            //User followerUser = isFollowerResult.Data;
                                            @*bool isFollower = (followerUser != null && followerUser.Id == Model.Id) ? true : false;

                                            if (isFollower)
                                            {
                                                <small class="text-muted">Follows you</small>
                                            }*@
                                        }
                                    </div>
                                    <div class="h5 text-black" style="padding-top:15px;">@Model.Biography</div>
                                    <div class="h5" style="padding-top:10px;">
                                        @if (!string.IsNullOrEmpty(Model.Location))
                                        {
                                            <a class="text-muted">
                                                <i class="fa fa-map-marker"></i>
                                                <span>@Model.Location</span>
                                            </a>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.Website))
                                        {
                                            <a href="@Model.Website" class="link">
                                                <i class="fa fa-link"></i>
                                                <span>@Model.Website</span>
                                            </a>
                                        }
                                    </div>

                                    <div class="h5" style="padding-top:10px">
                                        <a class="text-muted">
                                            <i class="fa fa-bell"></i>
                                            <span>Born @months[Model.DateOfBirth.Month - 1] @Model.DateOfBirth.Day, @Model.DateOfBirth.Year</span>
                                        </a>
                                        <a class="text-muted">
                                            <i class="fa fa-calendar"></i>
                                            <span>Joined @months[Model.DateCreated.Month - 1] @Model.DateCreated.Year</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="h5">
                                    <a style="padding-right:10px;">
                                        <span class="text-black">@Model.Following</span>
                                        <span>Following</span>
                                    </a>
                                    <a style="padding-left:10px;">
                                        <span class="text-black">@Model.Followers</span>
                                        <span>Followers</span>
                                    </a>
                                </div>
                               
                                <div>
                                    <div class="line"></div> <small class="text-uc text-xs text-muted">connections</small>
                                    <p class="m-t-sm">
                                        <a href="@Model.TwitterProfile" class="btn btn-rounded btn-twitter btn-icon"><i class="fa fa-twitter"></i></a>
                                        <a href="" class="btn btn-rounded btn-facebook btn-icon"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="btn btn-rounded btn-icon"><i class="fa fa-envelope"></i></a>
                                    </p>
                                </div>
                            </div>
                        </section>
                    </section>
                </aside>
                <aside class="bg-white">
                    <section class="vbox">
                        <header class="header bg-light lt">
                            <ul class="nav nav-tabs nav-white">
                                <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                                <li class=""><a href="#events" data-toggle="tab">Events</a></li>
                                <li class=""><a href="#interaction" data-toggle="tab">Interaction</a></li>
                            </ul>
                        </header>
                        <section class="scrollable">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activity">
                                    <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a0.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">3 minuts ago</small> <strong class="block">Drew Wllon</strong>                                                            <small>Wellcome and play this web application template ... </small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a1.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">1 hour ago</small> <strong class="block">Jonathan George</strong>                                                            <small>Morbi nec nunc condimentum...</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a2.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">2 hours ago</small> <strong class="block">Josh Long</strong>                                                            <small>Vestibulum ullamcorper sodales nisi nec...</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a3.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">1 day ago</small> <strong class="block">Jack Dorsty</strong>                                                            <small>Morbi nec nunc condimentum...</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a4.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">3 days ago</small> <strong class="block">Morgen Kntooh</strong>                                                            <small>Mobile first web app for startup...</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a5.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">Jun 21</small> <strong class="block">Yoha Omish</strong>                                                            <small>Morbi nec nunc condimentum...</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a6.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">May 10</small> <strong class="block">Gole Lido</strong>                                                            <small>Vestibulum ullamcorper sodales nisi nec...</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a7.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">Jan 2</small> <strong class="block">Jonthan Snow</strong>                                                            <small>Morbi nec nunc condimentum...</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item" href="#email-content" data-toggle="class:show">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a8.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">3 minuts ago</small> <strong class="block">Drew Wllon</strong>                                                            <small>Vestibulum ullamcorper sodales nisi nec sodales nisi nec sodales nisi nec...</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="thumb-sm pull-left m-r-sm"> <img src="images/a9.png" class="img-circle"> </a>
                                            <a href="#" class="clear">
                                                <small class="pull-right">1 hour ago</small> <strong class="block">Jonathan George</strong>                                                            <small>Morbi nec nunc condimentum...</small>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="events">
                                    <div class="text-center wrapper"> <i class="fa fa-spinner fa fa-spin fa fa-large"></i> </div>
                                </div>
                                <div class="tab-pane" id="interaction">
                                    <div class="text-center wrapper"> <i class="fa fa-spinner fa fa-spin fa fa-large"></i> </div>
                                </div>
                            </div>
                        </section>
                    </section>
                </aside>
                <aside class="col-lg-3 b-l">
                    @*<section class="vbox">
                <section class="scrollable padder-v">

                    <div class="panel clearfix">
                        <div class="panel-body">
                            <a href="#" class="thumb pull-left m-r"> <img src="images/a0.png" class="img-circle"> </a>
                            <div class="clear">
                                <a href="https://twitter.com/beyonce" class="text-info">@Model.FirstName @Model.LastName</a>
                                <br />
                                <a href="https://twitter.com/beyonce?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @@beyonce</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                    <a class="twitter-timeline" href="https://twitter.com/Beyonce?ref_src=twsrc%5Etfw">Tweets by Beyonce</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </section>
            </section>*@
                </aside>
            </section>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>

