@model BaseLib.Models.User
@using FNMusic.Controllers;
@using Microsoft.AspNetCore.Http;
@using BaseLib.Models;
@using BaseLib.Utils;
@using UserMgt.Utils;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Update your Profile";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";

    List<SelectListItem> privacy = new List<SelectListItem>();
    for (int i = 1; i <= 5; i++)
    {
        privacy.Add(new SelectListItem { Text = EnumUtils<Privacy>.GetEnumValueByInt(i).ToString(), Value = i.ToString() });
    }

    List<SelectListItem> countries = new List<SelectListItem>
    {
        new SelectListItem { Value = "Select Country"}
    };

    foreach (string country in AppUtils.GetCountries())
    {
        if (country == Model.Nationality)
        {
            countries.Add(new SelectListItem() { Text = country, Value = country, Selected = true });
        }
        else
        {
            countries.Add(new SelectListItem() { Text = country, Value = country });
        }

    }

    List<SelectListItem> genres = new List<SelectListItem>
    {
        new SelectListItem { Value = "Select Genre",}
    };

    foreach (string genre in AppUtils.GetGenres())
    {
        if (genre == Model.Genre)
        {
            genres.Add(new SelectListItem() { Text = genre, Value = genre, Selected = true });
        }
        else
        {
            genres.Add(new SelectListItem() { Text = genre, Value = genre });
        }

    }

}

<section class=" wrapper-md animated fadeInDown">
    <div class="container bg-white" style="box-shadow:0px 10px 10px;">
        @using (Html.BeginForm("UpdateProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <header class="modal-header">
                <h4>EDIT PROFILE</h4>
            </header>
            <section class="modal-body">
                @Html.ValidationSummary(true,"",new { @class="text-danger"})
                <div class="scrollable">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <div class="form-horizontal" style="padding-left:20px; padding-right:20px;">
                                <div class="form-group">
                                    <span>Username</span>
                                    @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>First Name</span>
                                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Last Name</span>
                                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })

                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Date of Birth</span>
                                    @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "text-danger" })
                                    @Html.EditorFor(x => x.DateOfBirth, new { @class = "time", type = "date", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                    @*@Html.TextBoxFor(x => x.DateOfBirth, new { @class = "time", type = "date", style = "border-top:unset; border-left:unset; border-right:unset;" })*@
                                </div>
                                <div class="form-group">
                                    <h6>Privacy Options</h6>
                                    <div class="col-sm-12">
                                        <span>Month And Day</span>
                                        @Html.ValidationMessageFor(x => x.MonthAndDay, "", new { @class = "text-danger" })
                                        @Html.DropDownListFor(x => x.MonthAndDay, privacy, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                    </div>
                                    <div class="col-sm-12">
                                        <span>Year</span>
                                        @Html.ValidationMessageFor(x => x.Year, "", new { @class = "text-danger" })
                                        @Html.DropDownListFor(x => x.Year, privacy, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal" style="padding-left:20px; padding-right:20px;">
                                <div class="form-group">
                                    <p>Gender</p>
                                    @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                                    <div class="col-sm-6">
                                        @Html.RadioButtonFor(x => x.Gender, "M", new { @class = "" })
                                        <span>Male</span>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.RadioButtonFor(x => x.Gender, "F", new { @class = "" })
                                        <span>Female</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span>Nationality</span>
                                    @Html.ValidationMessageFor(x => x.Nationality, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(x => x.Nationality, countries, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Biography</span>
                                    @Html.ValidationMessageFor(x => x.Biography, "", new { @class = "text-danger" })
                                    @Html.TextAreaFor(x => x.Biography, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Primary Genre</span>
                                    @Html.ValidationMessageFor(x => x.Genre, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(x => x.Genre, genres, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Phone Number</span>
                                    @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Location</span>
                                    @Html.ValidationMessageFor(x => x.Location, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.Location, new { @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal" style="padding-left:20px; padding-right:20px;">
                                <div class="form-group">
                                    <span>Website</span>
                                    @Html.ValidationMessageFor(x => x.Website, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.Website, new { type = "url", @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Twitter Profile</span>
                                    @Html.ValidationMessageFor(x => x.TwitterProfile, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.TwitterProfile, new { type = "url", @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Facebook Profile</span>
                                    @Html.ValidationMessageFor(x => x.FacebookProfile, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.FacebookProfile, new { type = "url", @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                                <div class="form-group">
                                    <span>Youtube Page</span>
                                    @Html.ValidationMessageFor(x => x.YoutubePage, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.YoutubePage, new { type = "url", @class = "form-control", style = "border-top:unset; border-left:unset; border-right:unset;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-footer">
                <a class="btn btn-warning" asp-action="Profile" asp-controller="Player">
                    <span>Cancel</span>
                    <i class="fa fa-trash-o"></i>
                </a>
                <button type="submit" class="btn btn-success">
                    <span>Update</span>
                    <i class="fa fa-save"></i>
                </button>
            </footer>
            
        }

    </div>

</section>

